* {
  margin: 0 !important;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
}

.title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #1da1f2;
}

.subtitle {
  font-size: 24px;
  margin: 30px !important;
}

.btn {
  display: inline-block;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #1da1f2;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #0d8cbd;
}

.image-container {
  margin-left: 50px;
}

.image {
  width: 500px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
    width: auto;
  }

  .image-container {
    margin: 0;
    margin-top: 50px;
  }

  .image {
    width: 100%;
  }
}
